# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# updateTimeoutMilliseconds (int:1500) -- The timeout in milliseconds for the version update check.
# 
# Sat Aug 03 03:40:06 CEST 2019
allowDebugOutput=false
allowUpdateCheck=false
checksum=1wk
updateTimeoutMilliseconds=1500
